<div id="after-party" class="clearfix">
  <div class="wreath left">
    <img src="/images/angel-investors.png" alt="angel-investors" width="215" height="200" />
  </div>
  <div id="after-party-description">
    <%= link_to "http://maps.google.com/maps?cid=11425628393869581370" do %>
      <h1>the after party</h1>
      <h2>The Cavern Club</h2>
      <h3>hard rock cafe faneuil hall</h3>
      <h4>4-8pm saturday february 5th</h4>
    <% end %>
  </div>
  <div class="wreath right">
    <img src="/images/venture-capitalists.png" alt="venture-capitalists" width="215" height="200" />
  </div>
</div>
