@font-face {
  font-family: 'CarnivaleeFreakshowRegular';
  src: local('☺'), url('/stylesheets/font-face/carnival/carnevalee_freakshow-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
