<div data-role="page">
  <div data-role="header">
    <h1><%= @startup.name %></h1>
  </div>

  <div data-role="content" class="ui-content" role="main">
    <%= link_to @startup.url, @startup.url %>

    <%= simple_format @startup.description %>
  </div>
</div>
