.ui-body-c {
  background: transparent;
  color: #3A3429;
  text-shadow: #EEEADD 0 1px 0;
}
a.ui-link, a.ui-link-inherit {
  color: #900 !important;
  &:hover, &:active {
    color: #C00;
  }
}
.ui-content li {
  line-height: 1.5em;
}

body {
  background: url('images-mobile/paper.png') repeat;
  margin: 0;
  padding: 0;
}
div#home {
  div#logo-header {
    background: transparent;
    border: 0px;
    img {
      max-width: 778px;
      width: 90%;
      padding: 10px 21px;
    }
  }
}

ul.ui-listview, ul.ui-listview li {
  background: transparent;
  border: 0px;
}
.ui-listview, .ui-li {
  padding: 0 7px;
}
.ui-content {
  padding: 0 40px;
}