/************************************************************************/
// Mixins
/************************************************************************/
@mixin letterpress ($x: 1px, $y: 1px, $blur: 1px, $color: rgb(232, 217, 196)) {
  text-shadow: $x $y $blur $color;
}
/*@mixin font-Nashville {
  font-family: 'Nashville', Times, "Times New Roman", Georgia, serif;
}
@mixin font-Carnival {
  font-family: 'CarnivaleeFreakshowRegular', Times, "Times New Roman", Georgia, serif;
}*/
@mixin font-LeagueGothic {
  font-family: 'LeagueGothicRegular', "Gill Sans", "Trebuchet MS", Calibri, sans-serif;
}
@mixin font-Fell {
  font-family: 'IM Fell English', Times, "Times New Roman", Georgia, serif;
}
/*@mixin font-Lobster {
  font-family: 'Lobster', arial, sans-serif;
}
@mixin font-FellSC {
  font-family: 'IM Fell English SC', Times, "Times New Roman", Georgia, serif;
}*/
$brown: #332F26;
$red: #990000;
$light-red: #ff4e51;

/************************************************************************/
// RESET jQuery Mobile styles
/************************************************************************/
body {
  background: url('images-mobile/paper.png') repeat;
  margin: 0;
  padding: 0;
}
h2, h3, h4, h5 {
  @include font-LeagueGothic;
  font-weight: normal;
}
div#home {
  div#logo-header {
    background: transparent;
    border: 0px;

    img {
      max-width: 778px;
      width: 90%;
      padding: 10px 18px;
    }
  }
}

ul.ui-listview {
  background: transparent;
  border-bottom: 1px solid #DDD5BB;

  & li {
    background: transparent;
    border-color: #A89F8A;

    .ui-btn-inner {
      border-color: #DDD5BB;
    }
  }
}

.ui-body-c {
  background: transparent;
  color: #3A3429;
  text-shadow: #EEEADD 0 1px 0;
}

.ui-btn-up-c, a.ui-link, a.ui-link-inherit {
  color: #900 !important;
  &:hover, &:active {
    color: #C00;
    text-shadow: none;
  }
}

.ui-content li {
  line-height: 1.5em;
}

ul .ui-btn-text {
  @include font-LeagueGothic;
  font-size: 1.4em;
  font-weight: normal;
}

#partiers {
  li {
    height: 73px;
    .description {
      @include font-Fell;
      font-size: 12px;
    }
    .ui-btn-inner {
      padding-left: 90px;
      .ui-btn-text {
      }
    }
    .ui-icon-arrow-r {
      margin-top: -19px;
    }
  }
}

.description-field, .partying-field {
  clear: both;
}

div.avatar {
  background: url('/images/default-avatar-lg.png') no-repeat;
  display: inline-block;
  height: 73px;
  width: 73px;
}
