/* Eric Meyer Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Flutie */

body {
  color: #222;
  font-size: 13px;
  font-family: "Inconsolata", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  color: #111;
  font-family: "Inconsolata", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #eee;
}
hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin-top: 10px;
  border: none;
}
hr.space {
  background: #fff;
  color: #fff;
}
.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-block;}
.clearfix {display:block;}
ul, ol {
  margin-bottom:  1.5em;
  list-style-position: inside;
}
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
dl {
  margin-bottom: 1.5em;
  line-height: 1.4;
}
dl dt {
  font-weight: bold;
  margin-top: .5em;
}
dl dd { margin-bottom: 0em;}
dd { margin-left: .5em; }
li { line-height: 1.4; }
ol ol, ol ul, ul ul, ul ol {
  margin-left: 1em;
}
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
h1 {
  font-size: 2.2em;
  line-height: 1.2;
  margin-bottom: 0.2em;
}
h2 {
  font-size: 1.8em;
  line-height: 1.2;
  margin: 0.4em 0;
}
header h2 {
  margin: 0;
  font-size: 1.4em;
  text-align: right;
  font-weight: lighter;
}
h3 {
  font-size: 1.3em;
  line-height: 1;
  margin-bottom: .25em;
}
p.last { margin-bottom: 0; }
p img {
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
p img.top { margin-top: 0; }
img { margin: 0 0 1.5em; }
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
address {
  margin-top: 1.5em;
  font-style: italic;
}
del { color:#666; }
a, a:link {
  color: #1a4882;
  text-decoration: underline;
}
a:visited { color: #1a4882; }
a:hover { color: #052246; }
a:active, a:focus { color: #1a4882; }
blockquote {
  margin: 1.5em 0;
  color: #666;
  font-style: italic;
  padding-left: 1em;
  border-left: 4px solid #d1d1d1;
}
strong { font-weight: bold; }
em, dfn { font-style: italic;  }
dfn { font-weight: bold; }
pre, code {
  margin: 1.5em 0;
  white-space: pre;
}
pre, code, tt {
  font: 1em 'andale mono', 'monotype.com', 'lucida console', monospace;
  line-height: 1.5;
}
pre.code {
  background: #000;
  color: #fff;
  padding: 20px;
}
tt {
  display: block;
  margin: 1.5em 0;
  line-height: 1.5;
}

/* Grid */

.grid {
  float: left;
  display: inline;
  *margin-left: -0.04em;
}
.whole { width: 100%; }
.one-fourth { width: 25%; }
.one-third { width: 33.33%; }
.one-half { width: 50%; }
.two-thirds { width: 66.66%; }
.three-fourths { width: 75%; }

/************************************************************************/
// Mixins
/************************************************************************/
@mixin transition($ratio: 0.15s) {
  -webkit-transition: all $ratio ease-out;
  -moz-transition: all $ratio ease-out;
  -o-transition: all $ratio ease-out;
  transition: all $ratio ease-out;
}
@mixin font-Nashville {
  font-family: 'Nashville', Times, "Times New Roman", Georgia, serif;
}
@mixin font-Carnival {
  font-family: 'CarnivaleeFreakshowRegular', Times, "Times New Roman", Georgia, serif;
}
@mixin font-LeagueGothic {
  font-family: 'LeagueGothicRegular', "Gill Sans", "Trebuchet MS", Calibri, sans-serif;
}
@mixin font-Lobster {
  font-family: 'Lobster', arial, sans-serif;
}
@mixin font-Fell {
  font-family: 'IM Fell English', Times, "Times New Roman", Georgia, serif;
}
@mixin font-FellSC {
  font-family: 'IM Fell English SC', Times, "Times New Roman", Georgia, serif;
}
$brown: #332F26;
$red: #990000;
$lt-red: #ff4e51;
/************************************************************************/
// Start of New Design
/************************************************************************/
html, body {
  background: url(/stylesheets/images/wood_bg.jpg);
  background-position: 50% 0;
  height: 100%;
  width: 100%;
  h1 {
    color: $brown;
    @include font-Nashville;
    font-size: 120px;
  }
  h2, h3, h4, h5, p {
    color: $brown;
    @include font-Fell;
  }
}
#container {
  margin: 0 auto;
  width: 900px;
  img { margin: 0px; }
  header {
    background: url(/stylesheets/images/paper-top.png) no-repeat, url(/stylesheets/images/paper-tile.png) repeat-y;
    display: block;
    padding: 0 60px;
    div#benefactors {
      padding: 30px 0 20px;
      div#logo-left {
        float: left;
      }
      div#banner {
        float: left;
        margin: 0 94px;
      }
      div#logo-right {
        float: right;
      }
    }
    div#dddd-logo {
      padding: 30px 0;
    }
  }
  div#free-event {
    background: url(/stylesheets/images/subhead-bg.png) no-repeat;
    height: 80px;
    text-align: center;
    width: 100%;
    img {
      margin-top: 16px;
    }
  }
  div#main {
    background: url(/stylesheets/images/paper-tile.png);
    padding: 20px 60px 0px;
    div#descriptions {
      margin-bottom: 30px;
      div#developers, div#designers {
        float: left;
        text-align: center;
        padding: 15px 25px;
        width: 315px;
        h2 {
          font-size: 19px;
          font-weight: normal;
          letter-spacing: 4px;
          text-transform: uppercase;
        }
        p {
          font-size: 14px;
          line-height: 1.4em;
        }
      }
      div#divider {
        float: left;
      }
    }
    div#event-location {
      div#compass {
        display: inline-block;
        margin: 30px;
      }
      div#location {
        padding: 55px 100px 55px 70px;
        display: inline-block;
        vertical-align: top;
        p {
          text-transform: uppercase;
          font-size: 14px;
          line-height: 20px;
          padding-bottom: 13px;
        }
        p.venue {
          @include font-Nashville;
          font-size: 32px;
          color: $red;
          border-bottom: 1px solid #5F5645;
          -webkit-box-shadow: rgba(255, 255, 255, 0.24) 0 1px;
          padding-bottom: 13px;
        }
        p.date {
          @include font-LeagueGothic;
          font-size: 37px;
          letter-spacing: -0.05em;
          line-height: 1em;
          padding-top: 10px;
        }
      }
    }
  }
  div#main-bottom {
    background: url(/stylesheets/images/paper-rip-top.png);
    height: 75px;
    position: relative;
    z-index: 10;
  }
  div#schedule {
    background: url(/stylesheets/images/wood-wear-overlay.png);
    padding: 30px 60px 0;
    position: relative;
    z-index: 0;
    h1 {
      color: rgba(0, 0, 0, 0.8);
      font-size: 120px;
      margin-bottom: 0px;
      text-align: center;
      text-shadow: rgba(255, 255, 255, 0.2) 0 1px;
      text-transform: uppercase;
    }
    ol#schedule {
      display: block;
      margin: 0px 0px 0px 0px;
      list-style: none;
      padding-bottom: 30px;
      li {
        margin: 12px 0;
        padding: 12px 30px;
        p {
          color: #d9cdb1;
          font-size: 24px;
          vertical-align: top;
          &.event-time {
            display: inline-block;
            @include font-Lobster;
            line-height: 33px;
            margin: 0 45px 0 0;
            text-align: right;
            width: 80px;
          }
          &.event-title {
            display: inline-block;
            a:link, a:visited, a:active {
              color: white;
              text-decoration: none;
            }
            a:hover { color: $lt-red; }
          }
          &.event-speaker {
            line-height: 38px;
            float: right;
            font-size: 16px;
            @include font-FellSC;
          }
        }
        &:nth-child(odd) {
          background: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
  div#main-continue-top {
    background: url(/stylesheets/images/paper-rip-bottom.png);
    height: 75px;
    position: relative;
    z-index: 10;
  }
  div#main-continue {
    background: url(/stylesheets/images/paper-tile.png);
    padding: 0px 60px 20px;
    min-height: 500px;
    div#after-party {
      margin: 40px 0;
      div.wreath {
        display: inline-block;
      }
      div#after-party-description {
        display: inline-block;
        margin: 5px 15px;
        text-align: center;
        vertical-align: top;
        h1, h2, h3, h4 {
          font-weight: normal;
          margin: 0px;
          @include font-FellSC;
          letter-spacing: -0.05em;
          line-height: 1.0em;
        }
        h1 {
          font-size: 42px;
        }
        h2 {
          border-top: 1px solid black;
          color: $red;
          font-size: 44px;
          margin-top: 6px;
          padding: 10px 10px 2px;
          position: relative;
          z-index: 10;
          -webkit-box-shadow: rgba(255, 255, 255, 0.234375) 0px 1px inset;
          -moz-box-shadow: rgba(255, 255, 255, 0.234375) 0px 1px inset;
          box-shadow: rgba(255, 255, 255, 0.234375) 0px 1px inset;
        }
        h3 {
          border-top: 1px solid black;
          font-size: 32px;
          margin-top: 5px;
          padding-top: 5px;
          -webkit-box-shadow: rgba(255, 255, 255, 0.234375) 0px 1px inset;
          -moz-box-shadow: rgba(255, 255, 255, 0.234375) 0px 1px inset;
          box-shadow: rgba(255, 255, 255, 0.234375) 0px 1px inset;
        }
        h4 {
          font-size: 22px;
        }
      }
    }
    div#registration {
      margin: 30px 0;
      div#registration-banner {
        margin-bottom: 10px;
        position: relative;
        text-align: center;
        p#subtitle {
          font-size: 17px;
          position: relative;
          bottom: 20px;
        }
      }
      form#event-registration {
      ol {
        display: inline-block;
        vertical-align: top;
        &.left {
          width: 380px;
        }
        &.right {
          width: 380px;
          margin-left: 15px;
        }
      }
        li {
          margin-bottom: 1.8em;
          label {
            font-size: 15px;
            @include font-FellSC;
            text-transform: lowercase;
          }
          input, textarea {
            background: rgb(174, 151, 105);
            background: -webkit-gradient(
                        linear,
                        left bottom,
                        left top,
                        color-stop(1, rgba(174, 151, 105, 0.33)),
                        color-stop(0, rgba(225, 211, 181, 0)));
            background: -moz-linear-gradient(
                        top,
                        rgba(174, 151, 105, 0.33),
                        rgba(225, 211, 181, 0.0));
            border: 1px solid #AE9769;
            font-size: 17px;
            @include font-Fell;
          }
          input {
            height: 34px;
            line-height: 2.0em;
            width: 370px;
          }
          textarea {
            height: 71px;
            line-height: 1.4em;
            margin: 0;
            padding: 12px 6px;
            resize: none;
            width: 360px;
          }
          &#description { margin-bottom: 12px; }
          &#radio {
            display: inline-block;
            margin: -4px 0 6px;
            label { display: none; }
            p.radio {
              display: inline-block;
              margin-right: 15px;
              text-transform: uppercase;
              vertical-align: baseline;
              input[type="radio"] {
                margin-right: 6px;
                width: auto;
              }
              &.developer {
                @include font-Nashville;
                font-size: 30px;
              }
              &.designer {
                @include font-Carnival;
                vertical-align: 4px;
                font-size: 32px;
              }
            }
          }
          &#submit-button {
            display: inline-block;
            margin-top: 10px;
            text-align: right;
            input#submit-btn {
              background: rgb(174, 151, 105);
              background: -webkit-gradient(
                          linear,
                          left bottom,
                          left top,
                          color-stop(0, rgba(174, 151, 105, 0.66)),
                          color-stop(1, rgba(225, 211, 181, 0.33)));
              background: -moz-linear-gradient(
                          bottom,
                          rgba(174, 151, 105, 0.66),
                          rgba(225, 211, 181, 0.33));
              font-size: 22px;
              height: 40px;
              line-height: 1.6em;
              width: 375px;
              @include font-FellSC;
              &:hover {
              background: -webkit-gradient(
                          linear,
                          left bottom,
                          left top,
                          color-stop(1, rgba(174, 151, 105, 0.66)),
                          color-stop(0, rgba(225, 211, 181, 0.33)));
              background: -moz-linear-gradient(
                          top,
                          rgba(174, 151, 105, 0.66),
                          rgba(225, 211, 181, 0.33));
              }
            }
          }
        }
      }
    }
  }
  div.register-button {
    div.hand {
      background: url(/stylesheets/images/download-hand.png) 0 0;
      height: 51px;
      width: 105px;
      &.left {
        float: left;
      }
      &.right {
        float: right;
        margin: 40px 80px 0px 50px;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
      }
    }
    &.top div.hand {
      &.left { margin: 40px 50px 0px 80px; }
      &.right { margin: 40px 80px 0px 50px; }
    }
    &:hover {
      div.hand {
        background: url(/stylesheets/images/download-hand.png) 0 99%;
        height: 51px;
        width: 105px;
        @include transition;
      }
    }
    h2, h2 a:link, h2 a:visited, h2 a:active {
    color: #3a3429;
    float: left;
    @include font-Carnival;
    font-size: 68px;
    font-weight: normal;
    line-height: 1.0em;
    margin-bottom: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px;
    @include transition;
     &:hover {
      color: #463B2B;
      text-shadow: rgba(255, 255, 255, 0.5) 0 1px, rgba(0, 0, 0, 0.5) 0px -3px 6px;
      top: 3px;
     }
    }
    &.bottom {
      h2 { margin-top: 0px; }
      div.hand {
        &.left { margin: 10px 50px 40px 80px; }
        &.right { margin: 10px 80px 40px 50px; }
      }
    }
  }
}

hr {
    background: #3a3429;
    height: 12px;
    margin: 0px;
    width: 100%;
    &.top { background: url(/stylesheets/images/horizontal-rule-top.png) no-repeat; }
    &.bottom { background: url(/stylesheets/images/horizontal-rule-bottom.png) no-repeat; }
    &.mini {
      background: #5F5645;
      bottom: 4px;
      height: 1px;
      margin: 0 auto;
      position: relative;
      width: 92%;
      -webkit-box-shadow: rgba(255, 255, 255, 0.24) 0 1px;
      z-index: 0;
    }
   }

/************************************************************************/
// Browser Specific Fixes
/************************************************************************/

@-moz-document url-prefix() {
  div#container div#main div#event-location div#location p.date {
    letter-spacing: -0.024em;
  }
  #container div#main-continue div#registration form#event-registration li#description {
  margin-bottom: 15px;
  }
}
