/* Eric Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Flutie */
body {
  color: #222;
  font-size: 13px;
  font-family: "Inconsolata", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  color: #111;
  font-family: "Inconsolata", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #eee; }

hr {
  background: #ddd;
  color: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin-top: 10px;
  border: none; }

hr.space {
  background: #fff;
  color: #fff; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

.clearfix {
  display: block; }

ul, ol {
  margin-bottom: 1.5em;
  list-style-position: inside; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

dl {
  margin-bottom: 1.5em;
  line-height: 1.4; }

dl dt {
  font-weight: bold;
  margin-top: .5em; }

dl dd {
  margin-bottom: 0em; }

dd {
  margin-left: .5em; }

li {
  line-height: 1.4; }

ol ol, ol ul, ul ul, ul ol {
  margin-left: 1em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

h1 {
  font-size: 2.2em;
  line-height: 1.2;
  margin-bottom: 0.2em; }

h2 {
  font-size: 1.8em;
  line-height: 1.2;
  margin: 0.4em 0; }

header h2 {
  margin: 0;
  font-size: 1.4em;
  text-align: right;
  font-weight: lighter; }

h3 {
  font-size: 1.3em;
  line-height: 1;
  margin-bottom: .25em; }

p.last {
  margin-bottom: 0; }

p img {
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0; }

p img.top {
  margin-top: 0; }

img {
  margin: 0 0 1.5em; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

address {
  margin-top: 1.5em;
  font-style: italic; }

del {
  color: #666; }

a, a:link {
  color: #1a4882;
  text-decoration: underline; }

a:visited {
  color: #1a4882; }

a:hover {
  color: #052246; }

a:active, a:focus {
  color: #1a4882; }

blockquote {
  margin: 1.5em 0;
  color: #666;
  font-style: italic;
  padding-left: 1em;
  border-left: 4px solid #d1d1d1; }

strong {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

dfn {
  font-weight: bold; }

pre, code {
  margin: 1.5em 0;
  white-space: pre; }

pre, code, tt {
  font: 1em 'andale mono', 'monotype.com', 'lucida console', monospace;
  line-height: 1.5; }

pre.code {
  background: #000;
  color: #fff;
  padding: 20px; }

tt {
  display: block;
  margin: 1.5em 0;
  line-height: 1.5; }

/* Grid */
.grid {
  float: left;
  display: inline;
  *margin-left: -0.04em; }

.whole {
  width: 100%; }

.one-fourth {
  width: 25%; }

.one-third {
  width: 33.33%; }

.one-half {
  width: 50%; }

.two-thirds {
  width: 66.66%; }

.three-fourths {
  width: 75%; }

/* Custom */
#rapper {
  margin: 20px auto;
  width: 750px; }

header p {
  padding: 1em 0;
  font-size: 16px;
  font-weight: lighter; }

.time {
  text-align: right;
  vertical-align: middle;
  font-size: 1.4em;
  line-height: 1.2;
  margin: 0.8em 0; }

.details {
  display: none;
  font-size: 14px;
  margin-bottom: 30px; }

.startups {
  padding-bottom: 80px; }

/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
html, body {
  background: url(/stylesheets/images/wood_bg.jpg);
  background-position: 50% 0;
  height: 100%;
  width: 100%; }
  html h1, html h2, html h3, html h4, html h5, html p, body h1, body h2, body h3, body h4, body h5, body p {
    color: #332F26;
    font-family: 'IM Fell English', Times, "Times New Roman", Georgia, serif; }

#container {
  margin: 0 auto;
  width: 900px; }
  #container img {
    margin: 0px; }
  #container header {
    background: url(/stylesheets/images/paper-top.png) no-repeat, url(/stylesheets/images/paper-tile.png) repeat-y;
    display: block;
    padding: 0 60px; }
    #container header div#benefactors {
      padding: 30px 0 20px; }
      #container header div#benefactors div#logo-left {
        float: left; }
      #container header div#benefactors div#banner {
        float: left;
        margin: 0 94px; }
      #container header div#benefactors div#logo-right {
        float: right; }
    #container header div#dddd-logo {
      padding: 30px 0; }
  #container div#free-event {
    height: 80px; }
  #container div#main {
    background: url(/stylesheets/images/paper-tile.png);
    padding: 20px 60px 0px; }
    #container div#main div#descriptions {
      margin-bottom: 30px; }
      #container div#main div#descriptions div#developers, #container div#main div#descriptions div#designers {
        float: left;
        text-align: center;
        padding: 15px 25px;
        width: 315px; }
        #container div#main div#descriptions div#developers h2, #container div#main div#descriptions div#designers h2 {
          font-size: 19px;
          font-weight: normal;
          letter-spacing: 4px;
          text-transform: uppercase; }
        #container div#main div#descriptions div#developers p, #container div#main div#descriptions div#designers p {
          font-size: 14px;
          line-height: 1.4em; }
      #container div#main div#descriptions div#divider {
        float: left; }
    #container div#main div#event-location div#compass {
      display: inline-block;
      margin: 30px; }
    #container div#main div#event-location div#location {
      padding: 55px 100px 55px 70px;
      display: inline-block;
      vertical-align: top; }
      #container div#main div#event-location div#location p {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 13px; }
      #container div#main div#event-location div#location p.venue {
        font-family: 'Nashville', Times, "Times New Roman", Georgia, serif;
        font-size: 32px;
        color: #990000;
        border-bottom: 1px solid #5F5645;
        -webkit-box-shadow: rgba(255, 255, 255, 0.24) 0 1px;
        padding-bottom: 13px; }
      #container div#main div#event-location div#location p.date {
        font-family: 'LeagueGothicRegular', "Gill Sans", "Trebuchet MS", Calibri, sans-serif;
        font-size: 37px;
        letter-spacing: -0.05em;
        line-height: 1em;
        padding-top: 10px; }
  #container div#main-bottom {
    background: url(/stylesheets/images/paper-rip-top.png);
    height: 75px;
    position: relative;
    z-index: 10; }
  #container div#schedule {
    background: url(/stylesheets/images/wood-wear-overlay.png);
    height: 600px;
    position: relative;
    z-index: 0; }
  #container div#main-continue-top {
    background: url(/stylesheets/images/paper-rip-bottom.png);
    height: 75px;
    position: relative;
    z-index: 10; }
  #container div#main-continue {
    background: url(/stylesheets/images/paper-tile.png);
    padding: 0px 50px 20px;
    min-height: 500px; }
  #container div.register-button div.hand {
    background: url(/stylesheets/images/download-hand.png) 0 0;
    height: 51px;
    width: 105px; }
    #container div.register-button div.hand.left {
      float: left;
      margin: 40px 50px 0px 80px; }
    #container div.register-button div.hand.right {
      float: right;
      margin: 40px 80px 0px 50px;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH"; }
  #container div.register-button:hover div.hand {
    background: url(/stylesheets/images/download-hand.png) 0 99%;
    height: 51px;
    width: 105px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-in-out; }
  #container div.register-button h2, #container div.register-button h2 a:link, #container div.register-button h2 a:visited, #container div.register-button h2 a:active {
    color: #3a3429;
    float: left;
    font-family: 'CarnivaleeFreakshowRegular', Times, "Times New Roman", Georgia, serif;
    font-size: 68px;
    font-weight: normal;
    line-height: 1.0em;
    margin-bottom: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-in-out; }
    #container div.register-button h2:hover, #container div.register-button h2 a:link:hover, #container div.register-button h2 a:visited:hover, #container div.register-button h2 a:active:hover {
      color: #463B2B;
      text-shadow: rgba(255, 255, 255, 0.5) 0 1px, rgba(0, 0, 0, 0.5) 0px -3px 6px;
      top: 3px; }

hr {
  background: #3a3429;
  height: 12px;
  margin: 0px;
  width: 100%; }
  hr.top {
    background: url(/stylesheets/images/horizontal-rule-top.png) no-repeat; }
  hr.bottom {
    background: url(/stylesheets/images/horizontal-rule-bottom.png) no-repeat; }
