<header id="registration-banner">
  <img src="/images/registration-banner-closed.png" alt="registration-banner" width="422" height="175" />
</header>

<div id="other-events">
  <p>Interested in attending <a href="other_boston_events/">other Boston events?</a></p>
</div>
