<header id="registration-banner">
  <img src="/images/registration-banner.png" alt="registration-banner" width="422" height="145" />
</header>

<div id="registration-closed">
  <p>Registration is now closed through the web interface. Thank you to everyone who has signed up!</p>
  <p>However... this website is <a href="https://github.com/thoughtbot/dddd">open source</a> and you'll find there's still a way to register through other means. If you can get your name, school, and role into the database, we'd love to have you attend!</p>
</div>
