<header id="registration-banner">
  <img src="/images/registration-banner.png" alt="registration-banner" width="422" height="145" />
</header>

<p id="registration-closed">Registration is now closed. Thank you to everyone who has signed up!</p>
