<header id="registration-banner">
  <img src="/images/registration-banner.png" alt="registration-banner" width="422" height="145" />
</header>

<div id="registration-closed">
  <p>Registration is now closed through the web interface. Thank you to everyone who has signed up!</p>
</div>
