<div data-role="page" id="home">
  <div data-role="header">
    <h1>Developers &amp; Designers</h1>
  </div>

  <ul data-role="listview">
    <li><%= link_to "Talks", talks_path %></li>
    <li><a href="#students">Students</a></li>
    <li><a href="#startups">Startups</a></li>
  </ul>
</div>

<div data-role="page" id="students">
  <div data-role="header">
    <h1>Students</h1>
  </div>

  <ul data-role="listview">
    <li><%= link_to "Designers", designers_path %></li>
    <li><%= link_to "Developers", developers_path %></li>
  </ul>
</div>
