<header id="logo">
  <div id="top"></div>
  <div id="benefactors" class="clearfix">
    <div id="logo-left">
      <%= link_to "http://greenhornconnect.com" do %>
        <img src="/images/greenhorn-logo.png" alt="greenhorn-logo" width="139" height="72" />
      <% end %>
    </div>
    <div id="banner">
      <img src="/images/greenhorn_thoughtbot_banner.png" alt="greenhorn_thoughtbot_banner" width="326" height="72" />
    </div>
    <div id="logo-right">
      <%= link_to "http://thoughtbot.com" do %>
        <img src="/images/thoughtbot-logo.png" alt="thoughtbot-logo" width="77" height="72" />
      <% end %>
    </div>
  </div>
  <hr class="top" />
  <% if content_for?(:header) %>
    <%= yield :header %>
  <% else %>
    <div id="dddd-logo">
      <a href="/"><img src="/images/DDDD-logo.png" alt="DDDD-logo" width="778" height="284" /></a>
    </div>
  <% end %>
</header>
