<div data-role="page" id="designers">
  <div data-role="header">
    <h1>Designers</h1>
  </div>

  <ul data-role="listview">
    <% @designers.each do |designer| %>
      <li><%= link_to designer.name, designer_path(designer) %></li>
    <% end %>
  </ul>
</div>
