<div data-role="page">
  <div data-role="header">
    <h1><%= @designer.name %></h1>
  </div>

  <div data-role="content" class="ui-content" role="main">
    <%= twitter_avatar @designer.twitter, 73 %>

    <h3><%= @designer.role %></h3>
    <h4><%= @designer.school_name %></h4>
  </div>
</div>
