<section id="free-event">
<h1>Schedule &amp; Resources</h1>
</section>
<section id="main">
  <% 3.times do %>
  <section id="talk-1" class="talk-wrapper">
    <div class="speaker-image">
      <img src="/images/profile.jpeg" alt="profile" width="110" height="110" />
    </div>
    <div class="talk-description">
      <h2>Why work at a startup? - Angus Davis</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec lorem ligula. Phasellus vulputate risus vel diam placerat ac tempor massa elementum. Pellentesque id nisl vitae elit tincidunt hendrerit non et felis. Vivamus luctus, tellus ut rhoncus ornare, tellus mauris eleifend neque, eu congue risus augue sed nisl. Duis odio felis, lobortis et cursus vitae, auctor non risus. Nulla facilisi. Nullam in nunc ut metus tristique iaculis. Duis euismod, est imperdiet consequat rutrum, nunc ligula</p>
      <h3>Resources</h3>
      <ul>
      	<li><a href="#">Vivamus luctus</a> Urna sed urna ultricies ac tempor dui sagittis</li>
      	<li><a href="#">Class aptent</a> taciti sociosqu ad litora torquent per conubia nostra, per.</li>
      	<li><a href="#">Nunc eu ullamcorper</a> orci. Quisque eget odio</li>
      	<li><a href="#">Quisque commodo</a> hendrerit lorem quis egestas. Maecenas quis tortor arcu</li>
      	<li><a href="#">In condimentum</a> orci id nisl volutpat bibendum. Quisque commodo hendrerit lorem</li>
      	<li><a href="#">Nulla facilisi</a> Duis aliquet egestas purus in blandit. Curabitur</li>
      	<li><a href="#">Aenean facilisis</a> nulla vitae urna tincidunt congue sed</li>
      	<li>In hac habitasse platea dictumst</li>
      </ul>
    </div>
  </section>
  <hr class="alternate"/>
  <% end %>
</section>