<section id="free-event">
  <h1>What It Is</h1>
</section>
<section id="main">
  <p id="what-it-is">The goal of this event is to act as a welcome wagon for student entering the startup community as developers and designers. The content is driven by what actual startups need right now. Each 10-minute talk is given by a community leader. Further resources on each topic are listed below (this is a constant work in progress: check back often). Startups that are interested in hiring students as interns or full-time employees post-graduation will be available afterwards to chat and hand out information.</p>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="why-work-at-a-startup"></a>
    <h2>Why Work at a Startup? - Angus Davis</h2>
    <div class="left description">
      <p>The people who are attracted to working at startups as designers and developers tend to be passionate, self-motivated, and caring. They care about creating something great and choose the form of a startup because it has fewer barriers to achieving great things.</p>
      <p>Boston and its surrounding cities like Cambridge, Providence (RI), and Portsmouth (NH) are filled with such people. This event is intended to introduce students to this community.</p>
      <h3>Speaker Bio</h3>
      <p>Angus is the founder and CEO of <a href="http://swipely.com">Swipely</a>. He previously founded Tellme, a speech recognition start-up that grew to over 300 employees with venture backing from Kleiner Perkins, Benchmark Capital, and others. In 2007, Microsoft acquired Tellme in its largest-ever acquisition of a private company.</p>
      <p>Angus was also Netscape Communications's youngest employee in 1996 where he was product manager for the flagship web browser. He represented Netscape on the HTML and CSS standards groups and he helped establish Mozilla.org.</p>
    </div>
    <div class="right resources">
      <h3>Learn More</h3>
      <ul>
        <li><a href="http://www.paulgraham.com/mit.html">A Student's Guide to Startups</a> &#8220;Till recently graduating seniors had two choices: get a job or go to grad school. I think there will increasingly be a third option: to start your own startup.&#8221;</li>
        <li><a href="http://paulgraham.com/wealth.html">How to Make Wealth</a> &#8220;If you wanted to get rich, how would you do it? I think your best bet would be to start or join a startup.&#8221;</li>
        <li><a href="http://paulgraham.com/cities.html">Cities and Ambition</a> &#8220;As of this writing, Cambridge seems to be the intellectual capital of the world.&#8221;</li>
        <li><a href="http://paulgraham.com/really.html">What Startups are Really Like</a> &#8220;Unconsciously, everyone expects a startup to be like a job, and that explains most of the surprises.&#8221;</li>
        <li><a href="http://www.quora.com/Startup-Advice-Strategy/What-would-the-ideal-web-technology-start-up-team-be-composed-of">What would the ideal web technology startup team be composed of?</a> Opinions from investors, startup founders, and others.</li>
      </ul>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="a-day-in-the-life-of-a-designer"></a>
    <h2>A Day in the Life of a Designer - Caroline Hadilaksono &amp; Micah Rich</h2>
    <div class="left description">
      <p>What do we mean when we apply the term &#8220;passion&#8221; to design and development work? How does passion affect our working day and the artifacts of our output?</p>
      <h3>Speaker Bio</h3>
      <p>Caroline and Micah run <a href="http://weareagoodcompany.com">A Good Company</a>, a design agency, so they could play and have fun all the time.</p>
    </div>
    <div class="right resources">
      <h3>Learn More</h3>
      <ul>
        <li><a href="http://www.theleagueofmoveabletype.com/">The League of Movable Type</a> &#8220;Only the most well-made, free &amp; open-source, @font-face ready fonts.&#8221;</li>
      </ul>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="a-day-in-the-life-of-a-developer"></a>
    <h2>A Day in the Life of a Developer/Hackepreneur - Dharmesh Shah</h2>
    <div class="left description">
      <p>Roll out of bed whenever you're well-rested. Get into work sometime before 10am. Grab some coffee. Talk for less than 15 minutes with your teammates at the daily stand-up. Open your text editor and a Unix shell. Pull the latest code out of version control. Run the test suite.</p>
      <p>Grab the top user story. Create a feature branch. Hack away. Write some tests, watch them fail, make them pass. Commit the code. Get a review from a teammate. Merge the code into the master branch. Push it to <a href="https://github.com/defunkt/cijoe">CI</a> and staging. Test out the feature in a web browser on staging. If possible, deploy to production.</p>
      <p>Repeat. Go home at a reasonable hour.</p>
      <h3>Speaker Bio</h3>
      <p>Dharmesh is the founder and CTO of <a href="http://hubspot.com">HubSpot</a>, a software company building an internet marketing platform. They have an <a href="http://www.archello.com/en/project/hubspot?story=114468">awesome new office</a> in Cambridge. He codes in <a href="http://onstartups.com/tabid/3339/bid/20493/Why-PHP-Is-Fun-and-Easy-But-Python-Is-Marriage-Material.aspx">Python</a> these days.</p>
      <p>Dharmesh previously founded Pyramid Digital Solutions, which was acquired by SunGard Business Systems in 2005. He is an <a href="http://en.wikipedia.org/wiki/Angel_investor">angel investor</a> and has a Masters from MIT.</p>
    </div>
    <div class="right resources">
      <h3>Learn More</h3>
      <ul>
        <li><a href="http://www.extremeprogramming.org/rules/standupmeeting.html">Stand-ups</a> One short meeting to replace many meetings. Stand to encourage brevity. What'd you do yesterday? What are you doing today? What's blocking you?</li>
        <li><a href="http://www.extremeprogramming.org/rules/userstories.html">User Stories</a> As a (user role), I want to (goal) so that (reason). This is what really matters: what your users want to do. Automate those desires using <a href="http://cukes.info/">Cucumber</a> and turn user stories into working features.</li>
        <li><a href="http://martinfowler.com/bliki/FeatureBranch.html">Feature Branches</a> A branch of your version control repository focused on just the feature you're writing.</li>
        <li><a href="http://www.amazon.com/Test-Driven-Development-Kent-Beck/dp/0321146530">Test-Driven Development: By Example</a> The bible of TDD. The goal: &#8220;clean code that works.&#8221;</li>
        <li><a href="http://www.martinfowler.com/articles/continuousIntegration.html">Continuous Integration</a> The &#8220;CI" build runs your app's test suite in an environment that mirrors production as closely as possible. If the CI build is &#8220;green&#8221; (all tests pass), you can be confident that your app works as advertised.</li>
        <li><a href="http://www.extremeprogramming.org/rules/overtime.html">Sustainable Pace</a> You can't work 24-7 so work smarter, not harder. Be well-rested and work at a steady pace. It makes planning easier, too.</li>
      </ul>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="grids"></a>
    <h2>Typography - Annie Wang</h2>
    <div class="left description">
      <p>Typography is one of, if not <strong>the</strong>, most important elements of communicating through design. If you were designing a street sign, you'd want the most legible typeface you could find. On the web, designers have significantly more freedom to add their own commentary to the message the words set in the type are attempting to convey. Significantly, the choice of typeface manipulates the meaning of the words.</p>
      <h3>Speaker Bio</h3>
      <p>
        Annie singlehandedly built and continues to develop the <a href="http://hercampus.com">http://hercampus.com</a> site, building off her previous experiences with website design. She is responsible for branding and managing publication of all site content. In September 2010, Annie took a leave of absence from Harvard to work full-time on Her Campus. She was a senior majoring in Visual and Environmental Studies with a concentration in Animation and a minor in Psychology. Prior to founding Her Campus, Annie managed the web and branding presence for nearly two-dozen organizations nationally. In her spare time, Annie can be found shopping for dresses, shooting hoops, watching The West Wing, or playing video games with her boyfriend. Annie was named to Inc. magazine's 30 Under 30 Coolest Young Entrepreneurs, Glamour magazine's 20 Amazing Young Women, and The Boston Globe's 25 Most Stylish Bostonians.
      </p>
    </div>
    <div class="right resources">
      <h3>Learn More</h3>
      <ul>
        <li><a href="http://www.amazon.com/Stop-Stealing-Sheep-Find-Works/dp/0672485435">Stop Stealing Sheep and Find Out How Type Works</a> Easy read. Plainly describes what type is, how to select it, and how to use it to improve the reader's communication.</li>
        <li><a href="http://ilovetypography.com/">I Love Typography</a> More content than you could ever want on what makes for good typography.</li>
      </ul>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="grids"></a>
    <h2>Grids - Chad Mazzola</h2>
    <div class="left description">
      <p>
        Grid systems in graphic design rose to prominence in the 20th century,
        mainly through the influence of <a href="http://www.designishistory.com/home/swiss/">Swiss design</a>.
        Over the past few years, web designers have rediscovered them as an
        effective tool for structuring content on the web. Now, grid systems
        are in the midst of another evolution, as designers adapt them to
        structure content being served to mobile phones and other new devices.
        This talk will give a quick overview of grid systems and show how
        using them effectively can improve your design work.
      </p>
      <h3>Speaker Bio</h3>
      <p>
        Chad is a web/UI designer at thoughtbot, where he builds sites for a
        variety of clients, many of them young startups in the Boston area.
        He also teaches <a href="http://workshops.thoughtbot.com/">workshops on visual design</a>.
        You can learn more by visiting his <a href="http://hellohappy.org">personal site</a>.
      </p>
    </div>
    <div class="right resources">
      <h3>Learn More</h3>
      <ul>
        <li><a href="http://gridulator.com/">Gridulator</a> Quickly calculate the size of columns and gutters for a grid of any size.</li>
        <li><a href="http://960.gs/">960 grid system</a> The most popular grid system on the web.  A great place to start.</li>
        <li><a href="http://cssgrid.net/">Fluid grid system</a> An example of a responsive grid that adapts to the size of the browser window or device.</li>
        <li><a href="http://www.thegridsystem.org/">The Grid System</a> A great collection of resources for learning more about grids.</li>
        <li><a href="http://www.amazon.com/Systems-Graphic-Systeme-Visuele-Gestaltung/dp/3721201450/">Grid Systems in Graphic Design</a> One of the foundational texts for grid systems in graphic design.</li>
      </ul>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="unix-shell"></a>
    <h2>Unix Shell - Mike Burns</h2>
    <div class="left description">
      <p>Unix is the underlying operating system of most production web applications. It's been in development for decades. It's generally a good idea to match your development environment with your production environment so we recommend running a unix-like system like Mac OS X or Ubuntu on your laptop.</p>
      <p>You access unix through a shell. Mastering the power of the shell will save you crazy amounts of time over the years. Don't do things manually. Automate them. Use a Unix command. You'll be glad you did.</p>
      <h3>Speaker Bio</h3>
      <p>Mike has been a web developer since before the first bubble burst. He co-founded the <a href="http://bostonandroid.org/">Boston Android</a> hackfests and uses Haskell for fun projects. He works at thoughtbot, where mostly develops Rails apps. He also teaches Rails at <a href="http://workshops.thoughtbot.com/">thoughtbot workshops</a>.</p>
    </div>
    <div class="right resources">
      <h3>Learn More</h3>
      <ul>
        <li><a href="http://en.wikipedia.org/wiki/Open_source">Open source</a> Be cool. Share your solutions to common problems.</li>
        <li><a href="http://www.pragprog.com/the-pragmatic-programmer">The Pragmatic Programmer</a> A book that will help you understand the core processes of software development. Take these lessons with you no matter which technologies and frameworks you get into over the years.</li>
        <li><a href="http://www.amazon.com/Learning-UNIX-Operating-System-Fifth/dp/0596002610">Learning the Unix Operating System</a> You'll <strong>really</strong> learn Unix from using it every day and consulting the man (manual) pages, but it's good to read something for an overview.</li>
        <li><a href="http://cm.bell-labs.com/cm/cs/upe/">The Unix Programming Environment</a> Unix is for programming so the creators wrote a guide on how to use unix as a programmer.</li>
        <li><a href="http://www.acm.uiuc.edu/workshops/zsh/">The zsh workshop</a> zsh is a popular Unix shell and this little tutorial does a good job explaining why you might want to use it. As it finishes, however &#8220;Shell holy wars just aren't worth it. Do a little investigation, pick your shell, and make it work for you.&#8221;</li>
        <li><a href="http://robots.thoughtbot.com">GIANT ROBOTS SMASHING INTO OTHER GIANT ROBOTS</a> thoughtbot's blog.</li>
      </ul>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="git"></a>
    <h2>Git - Tom Preston-Werner</h2>
    <div class="left description">
      <p>Always use source code control. It's like a time machine. You can work in parallel universes of your source code, experimenting without fear of losing work. Roll back if something goes wrong.</p>
      <p>Git is an open source source code control system written by Linus Torvalds. It's fast and makes branching really easy.</p>
      <h3>Speaker Bio</h3>
      <p>Tom is a co-founder of <a href="http://github.com">Github</a>, a totally bad-ass service for hosting git repositories. Open source repos are free and the open source community has flocked to Github.</p>
      <p>Previously, Tom created <a href="http://gravatar.com">Gravatar</a>, which he sold to Automattic. His open source projects include <a href="https://github.com/mojombo/chronic">Chronic</a>, a natural language date/time parser written in pure Ruby.</p>
    </div>
    <div class="right resources">
      <h3>Learn More</h3>
      <ul>
        <li><a href="http://en.wikipedia.org/wiki/Revision_control">Source code control</a> Understand what it is before understanding git, a particular technology for controlling source code.</li>
        <li><a href="http://whygitisbetterthanx.com/">Why Git is Better than X</a> Cheap local branching, everything is local, git is fast, git is small, the staging area, distributed, any workflow, Github, and easy to learn.</li>
        <li><a href="http://www.alistapart.com/articles/get-started-with-git/">A List Apart: Get Started with Git</a> Great read for designers who are unfamiliar with the command line or version control.</li>
        <li><a href="http://tom.preston-werner.com/">tom.preston-werner.com</a> Tom's blog posts, interviews, talks, and open source projects.</li>
      </ul>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <h2>More details coming soon...</h2>
  </section>
  <!--
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="text-editor"></a>
    <h2>Text Editor - Beth Andres-Beck</h2>
    <div class="left description">
      <p></p>
      <h3>Speaker Bio</h3>
      <p>
        Beth fell in love with programming when she picked up HTML 14 years
        ago and discovered the phenomenal cosmic power of dynamic electronic
        collages. Plus, she got less glue on the carpet that way. After a
        quick trip to Smith College for a Theater degree and sleep-deprived
        discussions of WikiWikiWeb as performance space, she talked her way
        into a C++ job by coding wildly. She now works on non-web
        applications as a software engineer at BAE Systems.
      </p>
    </div>
    <div class="right resources">
      <h3>Learn More</h3>
      <ul>
        <li><a href=""></a> </li>
        <li><a href=""></a> </li>
      </ul>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="web-standards"></a>
    <h2>Web Standards - Chris Bowen</h2>
    <div class="left description">
      <p></p>
      <h3>Speaker Bio</h3>
      <p></p>
    </div>
    <div class="right resources">
      <h3>Learn More</h3>
      <ul>
        <li><a href=""></a> </li>
        <li><a href=""></a> </li>
      </ul>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="jquery"></a>
    <h2>jQuery - John Resig</h2>
    <div class="left description">
      <p></p>
      <h3>Speaker Bio</h3>
      <p></p>
    </div>
    <div class="right resources">
      <h3>Learn More</h3>
      <ul>
        <li><a href=""></a> </li>
        <li><a href=""></a> </li>
      </ul>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="jquery-mobile"></a>
    <h2>jQuery Mobile - John Resig</h2>
    <div class="left description">
      <p></p>
      <h3>Speaker Bio</h3>
      <p>See jQuery section.</p>
    </div>
    <div class="right resources">
      <h3>Learn More</h3>
      <ul>
        <li><a href=""></a> </li>
        <li><a href=""></a> </li>
      </ul>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="postgresql"></a>
    <h2>PostgreSQL - Jim Psota</h2>
    <div class="left description">
      <p></p>
      <h3>Speaker Bio</h3>
      <p></p>
    </div>
    <div class="right resources">
      <h3>Learn More</h3>
      <ul>
        <li><a href=""></a> </li>
        <li><a href=""></a> </li>
      </ul>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="nosql"></a>
    <h2>NoSQL - Daniel Weinreb</h2>
    <div class="left description">
      <p></p>
      <h3>Speaker Bio</h3>
      <p></p>
    </div>
    <div class="right resources">
      <h3>Learn More</h3>
      <ul>
        <li><a href=""></a> </li>
        <li><a href=""></a> </li>
      </ul>
    </div>
  </section>
  <hr class="alternate"/>
  <section class="talk-wrapper">
    <a name="ship-it"></a>
    <h2>Ship It - Ben Scofield</h2>
    <div class="left description">
      <p></p>
      <h3>Speaker Bio</h3>
      <p></p>
    </div>
    <div class="right resources">
      <h3>Learn More</h3>
      <ul>
        <li><a href=""></a> </li>
        <li><a href=""></a> </li>
      </ul>
    </div>
  </section>
  <hr class="alternate"/>
  -->
</section>
