<div data-role="page" id="offers">
  <div data-role="header">
    <h1>Offers</h1>
  </div>

  <ul data-role="listview">
    <li><a href="http://codeforamerica.org">Code for America</a></li>
    <li><a href="http://www.devopsdays.org/events/2011-boston/">Devops Day</a></li>
    <li><a href="http://www.imaginecup.com/">Imagine Cup</a></li>
    <li><a href="http://www.momoboston.com/about-2/mobile-learn-a-day-of-mobile-development-and-design/">Mobile Camp</a></li>
    <li><a href="http://www.nech2011.com/">North-East College Hackathon</a></li>
    <li><a href="http://workshops.thoughtbot.com/">Ruby on Rails workshops</a></li>
  </ul>
</div>
