<div data-role="page" id="offers">
  <div data-role="header">
    <h1>Offers</h1>
  </div>

  <ul data-role="listview">
  <li><a href="http://www.nech2011.com/">North-East College Hackathon</a></li>
  <li><a href="http://www.imaginecup.com/">Imagine Cup</a></li>
  </ul>
</div>
