@font-face {
	font-family: 'Nashville';
	src: url('nashvill-webfont.eot');
	src: local('☺'), url('nashvill-webfont.woff') format('woff'), url('nashvill-webfont.ttf') format('truetype'), url('nashvill-webfont.svg#webfontRsehYuyT') format('svg');
	font-weight: normal;
	font-style: normal;
}