@font-face {
  font-family: 'Nashville';
  src: url('https://thoughtbot-fonts.s3.amazonaws.com/nashville/nashvill-webfont.eot');
  src: local('☺'), url('https://thoughtbot-fonts.s3.amazonaws.com/nashville/nashvill-webfont.woff') format('woff'), url('https://thoughtbot-fonts.s3.amazonaws.com/nashville/nashvill-webfont.ttf') format('truetype'), url('https://thoughtbot-fonts.s3.amazonaws.com/nashville/nashvill-webfont.svg#webfontRsehYuyT') format('svg');
  font-weight: normal;
  font-style: normal;
}
